/* Barcoder Print */
.section-to-print {
    text-align: -webkit-center;
}

.page {
    width: 4.025in;
    height: 3.927in;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    .container-barcode {
        &:before {
            content: "";
            display: table;
        }

        &:after {
            content: "";
            display: table;
            clear: both;
        }

        .barcoder {
            position: relative;
            width: 49%;
            text-align: center;
            float: left;

            .title {
                padding-bottom:10px;
            }

            .qrcode {
                width:100%;
                text-align: center;
            }

            .sku {
                font-size: 8pt;
                padding-top:3px;
                padding-bottom:3px;
            }

            .description {
                font-size:8pt;
            }

            .footer {
                position: absolute;
                bottom: 3px;
                width:98%;
                &:before {
                    content: "";
                    display: table;
                }

                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }

                .date, .pass {
                    font-size: 8pt;
                }

                .date {
                    float: left;
                    margin-left: 10px;
                }

                .pass {
                    float: right;
                    margin-right: 10px;
                }
            }
        }
    }
}

@page {
    width: 4.035in;
    height: 3.9in;
    margin: 0;
}

@media print {
    body * {
        visibility: hidden;
    }
    .section-to-print, .section-to-print * {
        visibility: visible;
    }
    .section-to-print {
        position: absolute;
        left: 0;
        top: 0;
        margin-top: -28rem;
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
        display: block;
    }
    .container-barcode {
        width: 6.025in;
    }
    .barcoder {
        height: 2.938in;
    }
}

/* End Of Barcoder Print */